In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv('Bank_Customers.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.drop(['RowNumber','CustomerId', 'Surname'], axis=1, inplace=True)

In [5]:
X, y = df.drop(['Exited'], axis=1), df['Exited']

In [6]:
le = preprocessing.LabelEncoder()
scaler = StandardScaler()
ohe = preprocessing.OneHotEncoder()
mms = MinMaxScaler()

In [7]:
X['Balance'] = scaler.fit_transform(X['Balance'].values.reshape(-1,1))
X['Balance']

0      -1.225848
1       0.117350
2       1.333053
3      -1.225848
4       0.785728
          ...
9995   -1.225848
9996   -0.306379
9997   -1.225848
9998   -0.022608
9999    0.859965
Name: Balance, Length: 10000, dtype: float64

In [8]:
X['Gender'] = le.fit_transform(X['Gender'])
X['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int32

In [9]:
X['CreditScore'] = mms.fit_transform(X[['CreditScore']])
X['CreditScore'].value_counts()

1.000    233
0.656     63
0.610     54
0.710     53
0.634     53
        ...
0.108      1
0.002      1
0.030      1
0.134      1
0.138      1
Name: CreditScore, Length: 460, dtype: int64

In [10]:
X['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [11]:
X = pd.get_dummies(X, columns = ['Geography'])
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0.538,0,42,2,-1.225848,1,1,1,101348.88,1,0,0
1,0.516,0,41,1,0.117350,1,0,1,112542.58,0,0,1
2,0.304,0,42,8,1.333053,3,1,0,113931.57,1,0,0
3,0.698,0,39,1,-1.225848,2,0,0,93826.63,1,0,0
4,1.000,0,43,2,0.785728,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,1,39,5,-1.225848,2,1,0,96270.64,1,0,0
9996,0.332,1,35,10,-0.306379,1,1,1,101699.77,1,0,0
9997,0.718,0,36,7,-1.225848,1,0,1,42085.58,1,0,0
9998,0.844,1,42,3,-0.022608,2,1,0,92888.52,0,1,0
9999,0.884,0,28,4,0.859965,1,1,0,38190.78,1,0,0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.30, random_state=0)

In [13]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from keras.utils import np_utils

In [15]:
ann = Sequential()

In [16]:
ann.add(Dense(units=128, activation='relu'))
ann.add(Dense(units=128, activation='relu'))
ann.add(Dense(units=128, activation='relu'))
ann.add(Dense(units=128, activation='relu'))
ann.add(Dropout(0.2))

ann.add(Dense(units=1, activation='sigmoid'))

In [17]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
ann.fit(X_train, y_train, batch_size=300, epochs=50)

Epoch 1/50
24/24 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7931
Epoch 2/50
24/24 [==============================] - 0s 3ms/step - loss: 0.4307 - accuracy: 0.8069
Epoch 3/50
24/24 [==============================] - 0s 3ms/step - loss: 0.4005 - accuracy: 0.8294
Epoch 4/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8533
Epoch 5/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8630
Epoch 6/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8663
Epoch 7/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.8650
Epoch 8/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3165 - accuracy: 0.8704
Epoch 9/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3116 - accuracy: 0.8741
Epoch 10/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3058 - accuracy: 0.8754
Epoch 11/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3012 - accuracy: 0.8741
Epoch 12/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2966 - accuracy: 0.8800
Epoch 13/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2917 - accuracy: 0.8814
Epoch 14/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2849 - accuracy: 0.8814
Epoch 15/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2795 - accuracy: 0.8846
Epoch 16/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2718 - accuracy: 0.8884
Epoch 17/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.8930
Epoch 18/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2584 - accuracy: 0.8947
Epoch 19/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2507 - accuracy: 0.8986
Epoch 20/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2477 - accuracy: 0.9007
Epoch 21/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2442 - accuracy: 0.8967
Epoch 22/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2344 - accuracy: 0.9021
Epoch 23/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2300 - accuracy: 0.9060
Epoch 24/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2162 - accuracy: 0.9133
Epoch 25/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2145 - accuracy: 0.9106
Epoch 26/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2079 - accuracy: 0.9150
Epoch 27/50
24/24 [==============================] - 0s 2ms/step - loss: 0.2005 - accuracy: 0.9176
Epoch 28/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1969 - accuracy: 0.9210
Epoch 29/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1882 - accuracy: 0.9209
Epoch 30/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1856 - accuracy: 0.9201
Epoch 31/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1804 - accuracy: 0.9254
Epoch 32/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1760 - accuracy: 0.9290
Epoch 33/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1614 - accuracy: 0.9340
Epoch 34/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1527 - accuracy: 0.9400
Epoch 35/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1603 - accuracy: 0.9293
Epoch 36/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1447 - accuracy: 0.9403
Epoch 37/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1428 - accuracy: 0.9420
Epoch 38/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1407 - accuracy: 0.9426
Epoch 39/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1314 - accuracy: 0.9453
Epoch 40/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1219 - accuracy: 0.9493
Epoch 41/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1193 - accuracy: 0.9494
Epoch 42/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1163 - accuracy: 0.9541
Epoch 43/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1175 - accuracy: 0.9481
Epoch 44/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1179 - accuracy: 0.9526
Epoch 45/50
24/24 [==============================] - 0s 2ms/step - loss: 0.1021 - accuracy: 0.9569
Epoch 46/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0971 - accuracy: 0.9611
Epoch 47/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0888 - accuracy: 0.9664
Epoch 48/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0867 - accuracy: 0.9651
Epoch 49/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0830 - accuracy: 0.9690
Epoch 50/50
24/24 [==============================] - 0s 2ms/step - loss: 0.0836 - accuracy: 0.9671